<!-- Toolbar -->
<mat-toolbar class='toolbar'>
  <button mat-icon-button (click)='MenuClick()' class='menu-icon'>
    <mat-icon>menu</mat-icon>
  </button>
  <span class='title-txt'>Salty Solutions</span>
  <button mat-icon-button (click)='SettingsClick()' class='settings-icon'>
    <mat-icon>settings</mat-icon> 
  </button>
</mat-toolbar>
<!-- Main Page Content -->
<div>
  <div>
    <span>Power</span>
  </div>
  <div>
    <span>Water Flow</span>
  </div>
  <div>
    <span>PV Power Output</span>
  </div>
  <div>
    <span>Motor Speed</span>
  </div>
</div>
<router-outlet></router-outlet>